.signup {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.signup-input {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    padding-bottom: 1rem;
}

.signup-input-fields .input {
    width: 50%;
}

.signup-input-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@keyframes slide-in-signup {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.signup-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: slide-in-signup 0.5s ease forwards;
}

.signup-image img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}